---
// src/pages/zh/index.astro

import AvatarDemo from "../../components/avatar"
import '../../styles/global.css'
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card";
import Profile from "../../components/Profile";
import ParticlesDemo from "../../components/Particles";
import ShimmerButtonDemo from "../components/ShimmerButton";
---

<BaseLayout title="Arthur Kuo | 全端&生成式AI工程師" description="Arthur Kuo，有生成式AI服務開發經驗的全端工程師。">
    <!-- Add a button to switch back to the English page with TailwindCSS styles -->
    <a href="/" >
        <button>
            EN
        </button>
    </a>
	<Card client:load>
        <Profile
            key="1"
            name="Arthur Kuo"
            position="全端 & AI工程師"
            aboutMe="你好！我是 Arthur Kuo，一位有生成式AI服務開發經驗的全端軟體工程師。\n\n專長：\nPython、Node.js、Langchain、React、MySQL、Elasticsearch 和 Redis。"
            myWords="工程師不被AI取代，我們運用AI來加速開發! "
            linkedin={import.meta.env.LINKEDIN_URL}
            github={import.meta.env.GITHUB_URL}
            medium={import.meta.env.MEDIUM_URL}
            cvLink="/files/resume-cv.pdf"
            profileImage="/images/profile2.jpg"
            client:load
        />
    </Card>
</BaseLayout>
