---
// src/pages/index.astro

import AvatarDemo from "../components/avatar"
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card";
import Profile from "../components/Profile";
import ParticlesDemo from "../components/Particles";
import ShimmerButtonDemo from "../components/ShimmerButton";
---

<BaseLayout title="Arthur Kuo | Full-Stack & Generative AI Engineer" description="Arthur Kuo, a full-stack engineer with experience in developing generative AI services.">
	<!-- Add a button to switch back to the English page with TailwindCSS styles -->
    <a href="/zh/">
        <button>
            中文
        </button>
    </a>
	<Card client:load>
		<Profile
			key="1"
			name="Arthur Kuo"
			position="Full-Stack & Generative AI Engineer"
			aboutMe="Hi there! I'm Arthur Kuo, a seasoned web developer with experience in Full-stack development and Gen AI service design. \n\nSpecialties:\n Python, Node.js, React, Langchain, MySQL, Elasticsearch, and Redis."
			myWords="AI won't replace software engineers, we use AI to accelerate development instead! "
			linkedin={import.meta.env.LINKEDIN_URL}
			github={import.meta.env.GITHUB_URL}
			medium={import.meta.env.MEDIUM_URL}
			cvLink="/files/resume-cv.pdf"
			profileImage="/images/profile2.jpg"
			client:load
		/>
	</Card>
</BaseLayout>
